

div{
    /* border: 1px solid black;*/
 }
 .img1
 {
     margin-left: -4%;
 }
 .img2
 {
     margin-left: 2%;
 }
 #row
     {
         margin-left: 17%;
     }
 
 #minimo{
     width: 119px;
     height: 23px;
     color: #000000;
     font-family: Inconsolata;
     font-size: 30px;
     font-weight: 400;
     line-height: 24px;
     text-transform: uppercase;
     /* Text style for "minim, ø" */
     letter-spacing: 6px;
     margin: 5%;
     margin-left: 21%;
     }
 
 .life{
     /* Style for "lifestyle" */
 width: 71px;
 height: 11px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 text-transform: uppercase;
 margin-left: 93%;
 }
 
 .photo{
     /* Style for "photodiary" */
 width: 71px;
 height: 11px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 text-transform: uppercase;
 margin-left: 55%;
 }
 
 .music{
     /* Style for "music" */
 width: 43px;
 height: 11px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 text-transform: uppercase;
 margin-left: 55%;
 }
 .travel{
     /* Style for "travel" */
 width: 52px;
 height: 11px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 text-transform: uppercase;
 margin-left: 55%;
 }
 .photo1{
     /* Style for "photodiary" */
 width: 85px;
 height: 11px;
 color: #b4ad9e;
 font-family: Ubuntu;
 font-size: 14px;
 font-weight: 300;
 text-transform: uppercase;
 margin-left: 25%;
 }
 .perfect{
     /* Style for "The perfec" */
 width: 397px;
 height: 30px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 30px;
 font-weight: 400;
 margin-left: 25%;
 }
 
 .p1{
     /* Style for "Lorem ipsu" */
 width: 893px;
 height: 183px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 margin-left: 25%;
 }
 .p3{
     /* Style for "Lorem ipsu" */
 width: 893px;
 height: 183px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 margin-left: 55%;
 }
 .liv{
     /* Style for "Leave a co" */
     width: 85px;
     height: 11px;
     color: #b4ad9e;
     font-family: Ubuntu;
     font-size: 14px;
     font-weight: 300;
     text-transform: uppercase;
     margin-left: 25%;
 }
 .row{
     margin-left: 23%;
     margin-right: -22%;
   
 }
 #row{
     margin-left: 10%;
     margin-top: 10%;
   
 }
 #row1{
     margin-left: 30%;
     margin-top: -21.5%;
    
   
 }
 #row2{
     margin-left: 60%;
     margin-top: -22%;
    
   
 }
 
 .p2{
     /* Style for "Lorem ipsu" */
 width: 414px;
 height: 63px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 
 }
 .pp{
     /* Style for "More than" */
 width: 407px;
 height: 30px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 30px;
 font-weight: 400;
 }
 .pp1{
     /* Style for "More than" */
 width: 407px;
 height: 30px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 30px;
 font-weight: 400;
 margin-top: -3%;
 }
 .pp2{
    
        /* Style for "More than" */
    width: 407px;
    height: 30px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
    margin-top: 100%;
    
 }
 .bg{
     /* Style for "background" */
 width: 1199px;
 height: 287px;
 background-color: #f0f0f0;
 margin: 20px auto;
 margin-left: 17%;
 
 }
 .sig{
     /* Style for "Sign up fo" */
 width: 374px;
 height: 30px;
 color: #333333;
 font-family: "Playfair Display";
 font-size: 30px;
 font-weight: 400;
 /* Text style for "Sign up fo" */
 letter-spacing: 0.75px;
 text-align: center;
 margin-left: 35%;
 margin: 20px auto;
 padding: 100px 0 0 0;
 }
 .mail{
     /* Style for "Enter a va" */
 width: 168px;
 height: 12px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 margin-left: 36%;
 padding: 60px 0 0 0;
 }
 .line{
  /* Style for "line" */
 width: 399px;
 height: 1px;
 border: 1px solid #000000;
 margin-left: 33%;
 margin-top: 3%;
 }
 .icon{
 /* Style for "send icon" */
 width: 32px;
 height: 17px;
 margin-left: 63%;
 padding: 1px 0 0 0;
 margin-top: -3%;
 }
 .life1{
     /* Style for "lifestyle" */
 width: 63px;
 height: 11px;
 color: #b4ad9e;
 font-family: Ubuntu;
 font-size: 14px;
 font-weight: 300;
 text-transform: uppercase;
 }
 #life2{
     /* Style for "lifestyle" */
 width: 150px;
 height: 11px;
 color: #b4ad9e;
 font-family: Ubuntu;
 font-size: 14px;
 font-weight: 300;
 text-transform: uppercase;
 margin: 5%;
 padding-top: 30px;
 
 }
 .box{
     /* Style for "box" */
 width: 164px;
 height: 60px;
 border: 1px solid #626262;
 margin-left: 45%;
 }
 .more{
     /* Style for "Load more" */
 width: 96px;
 height: 17px;
 color: #626262;
 font-family: "Playfair Display";
 font-size: 20px;
 font-weight: 400;
 line-height: 24px;
 margin-left: 24%;
 margin-top: 9%;
 }
 
 .vec1{
     /* Style for "background" */
 width: 1200px;
 height: 400px;
 background-color: #f0f0f0;
 margin-left: 15%;
 margin-right: 15%;
 }
 
 .pri{
     /* Style for "Privacy" */
 width: 46px;
 height: 15px;
 color: #000000;
 font-family: "Playfair Display";
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 }
 
 .temrs{
     /* Style for "Terms and" */
 height: 12px;
 columns: #000000;
 font-size: 18px;
 font-family: "Playfair Display";
 margin-left: 12%;
 margin-top: 27px;
 font-weight: 400;
 line-height: 24px;
 
 }
 
 .fol{
     /* Style for "Follow" */
     width: 42px;
     height: 12px;
     color: #000000;
     font-family: "Playfair Display";
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
     margin-left: 81%;
     margin-top: -23px
 }
 .fb{
     /* Style for "facebook" */
     width: 35px;
     height: 35px;
     margin-left: 87%;
     margin-top: -17px
 }
 .tt{
     width: 35px;
     height: 35px;
     margin-left: 90%;
     margin-top: -35px;
 }
 .insta{
     width: 35px;
     height: 35px;
     margin-left: 93%;
 margin-top: -35px
 }
 .vec{
     /* Style for "background" */
 width: 1200px;
 height: 97px;
 background-color: #f0f0f0;
 margin-left: 12%;
 margin-right: 10%;
 }
 #vec1{
     /* Style for "background" */
 width: 1200px;
 height: 400px;
 margin-left: 12%;
 margin-right: 10%;
 }
 
 .fol1{
     /* Style for "Follow" */
     width: 42px;
     height: 12px;
     color: #b4ad9e;
     font-family: "Playfair Display";
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
     margin-left: 65%;
     margin-top: -23px
 }
 .fb1{
     /* Style for "facebook" */
     width: 35px;
     height: 35px;
     margin-left: 75%;
     margin-top: -17px;
 
 }
 .tt1{
     width: 35px;
     height: 35px;
     margin-left: 71%;
     margin-top: -35px;
 }
 .insta1{
     width: 35px;
     height: 35px;
     margin-left: 73%;
 margin-top: -35px
 }
 .insta{
    width: 35px;
    height: 35px;
    margin-left: 75%;
margin-top: -35px
 }
 .pin{
    width: 35px;
    height: 35px;
    margin-left: 77%;
margin-top: -35px
 }
 .im1{
    /* Style for "image" meter este css a estilo2 */
width: 95px;
height: 130px;
margin-left: -14%;

}


#lifes{
    /* Style for "lifestyle" meter este css a estilo2*/
width: 250px;
height: 11px;
color: #61605e;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
margin-left: 110%;
margin-top: -80%;
}
.ps{
    /* Style for "Lorem ipsu"meter este css a estilo2 */
width: 700px;
height: 170px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-left: 110%;
margin-right: 50%;
}


.photo11{
    /* Style for "photodiary" meter este css a estilo2 */
width: 85px;
height: 11px;
color: #b4ad9e;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
margin-left: 120%;
margin-top: -135%;
}

.box1{
    /* Style for "box" meter este css a estilo2*/
width: 700px;
height: 105px;
border: 1px solid #b4ad9e;
margin-left: 110%;
margin-top: 40%;
}

#vec2{
    /* Style for "background" meter este css a estilo2* */
width: 1200px;
height: 80px;
/*border: 1px solid red;*/
margin-left: -25%;
}